body {
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(to left, #376bfc, #46e1fc);
  padding: 20px;
  text-align: center;
  color: white;
} 
p {
  font-size: 18px;
  color: black;
}
.dropdown {
  position: relative; 
  display: inline-block;
  width: fit-content;
}
.dropdown img {
  width: auto;
  height: 30px;
  display: block;
  margin: auto;
}
.dropdown-trigger {
  padding: 12px 16px;
  border: 1px solid #ccc;
  width: 200px;
  background-color: none;
  color: #333;
  text-decoration: none;
  display: block;
}
.dropdown-content {
  overflow-y: scroll;
  max-height: 300px;
  display: none;
  width: fit-content;
  position: absolute;
  border-radius: 4px;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  border-radius: 4px;
  font-family: candara, sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-image: linear-gradient(to right, yellow, orange);
}
.dropdown:hover .dropdown-content {
  display: block;
  width: fit-content;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(30px);          
  -webkit-backdrop-filter: blur(30px);  
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border: 2px solid black;
}
.navbar img.logo {
  width: auto;
  height: 120px;
  margin-right: 20px;
}
#chat {
  background-image: url(assets/bg.png);
  opacity: 0.9;
  background-size: contain;
  background-position: center;
  border: 3px solid #ccc;
  height: fit-content;
  max-height: 300px;
  width: 100%;
  max-width: 600px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  animation: more 0.5s infinite;
}
@keyframes more {
  from { height:fit-content; }
  to { height: fit-content; }
}
.message {
  padding: 10px;
  border-radius: 20px;
  margin: 5px 0;
  max-width: 600px;
  min-width: 200px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  animation: fadeIn 0.5s ease forwards;
}
.message.you {
  background-color: #00e1f1da;
  align-self: flex-end;
  text-align: right;
}
.message.other {
  background-color: #ffffffee;
  align-self: flex-start;
  text-align: left;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.name {
  font-weight: bold;
  color: #919191;
  margin-bottom: 5px;
}
input {
  padding: 10px;
  margin-top: -20px;
  font-size: 5px;
  height: 20px;
  border-radius: 30px;
  border: none;
  width: 100px;
  display: inline-block;
  margin: auto;
  min-width: 100px;
}
input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(200, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
  color: black;
  background-color: none;
  padding: 10px 20px;
  border-radius: 50px;

}

button:hover {
  background-image: linear-gradient(to right, yellow, orange);
  color: white;
}

#sendBtn, #recordBtn, #stopBtn, #avatarBtn, #soundButton {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border-radius: 50%;
  padding: 0;
  background-color: whitesmoke;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#sendBtn img, #recordBtn img, #stopBtn img, #avatarBtn img, #soundButton img{
  width: 35px;
  height: 35px;
  margin-top: 10px;
  border-radius: 50%;
  padding-bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dropdown button, .dropdown .dropbtn {
  background-color: #f1f1f1;
  border: none;
  padding: 12px 16px;
  width: fit-content;
  text-align: left;
  line-height: 1;
  border-radius: 50px;
  -webkit-appearance: none;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #ccc;
  color: #333;
  font-size: 16px;
}
.dropdown .dropbtn:hover {
  background-color: #ddd;
}
.navbar .dropdown {
  width: fit-content;
}
#name, #messages {
  width: 40%;
  background-color: white;
  color: black;
  font-size: 30px;
}
img {
  width: 40px;
  height: fit-content;
}
img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.updates {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 10px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
